<!DOCTYPE html>
<html>
<head>
<title>注册</title>
<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="tencent.css">
    </head>
    <body>
    <div id="contain">
    <div id="top">
    <div id="right">
    <div id="rightTop">
    <!--<img src="1.PNG" style="width: 120px">-->
    </div>
    <div id="rightMiddle">
    <!--<h2 style="padding-top:30px; ">-->
    <!--<img class="tu1" src="https://imgcache.qq.com/open_proj/proj_qcloud_v2/gateway/login-regist/css/img/event/icon.svg">-->
    <!--百万程序员刷题的信赖首选-->
    <!--</h2>-->
    <!--<p style="line-height: 50px">-->
    <!--<li>√ 全球领先的云计算服务平台</li>-->
<!--<li>√ 高性能、高可用性的顶级云产品</li>-->
<!--<li>√ 覆盖全IT行业的解决方案</li>-->
<!--</p>-->
</div>
</div>
<div id="left">
    <div id="login " style="text-align: center;">
    <h3>注册</h3>
    <!--<p style="padding-top:40px;padding-bottom: 15px; ">推荐使用<a href="#">快速安全登录</a>，防止盗号-->
    </p>
    <form action="/register" method="post">
    <input class ="k" type="text" placeholder="用户名" name="username"/>
    <input class ="k" type="password" placeholder="密码" name="password"/>
    <input class ="k" type="submit" value="注册" style="background:#86CE2F; border:none; margin-top: 20px;cursor: pointer;" />
    </form>
    <!--<span  style="margin-left:250px;text-align: right;font-size: 12px">忘了密码？ </span>-->
</div>
<div class="hezi">
    <span>更多注册方式</span>
    </div>
    <div id="loginBottom">
    <div>
    <img  class="tu2" src="2.PNG">
    <p>邮箱账号</p>
    </div>
    <div>
    <img  class="tu2" src="3.PNG">
    <p>微信账号</p>
    </div>
    <div>
    <img  class="tu2" src="4.PNG">
    <p>微信公众号</p>
    </div>
    </div>
    </div>
    </div>

    <div id="footer">
    <p>
    Copyright©2013-2017 Tencent Cloud.All Rights Reserved.腾讯云版权所有
<span style="margin-left: 530px">中文|English</span>
    </p>
    </div>
    </div>
    </body>
    </html>
